<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saju.box.adminMapper">
	<!-- 로그인 정보 가져오기 -->
	<select id="login" resultType="com.saju.box.model.LoginDto">
		/*com.saju.box.adminMapper.login*/
		select 
			B.comp_no		as compNo
		  , B.comp_name 	as compName
		  , A.teacher_no 	as teacherNo
		  , A.teacher_nm	as teacherNm 
		  , A.teacher_id  	as teacherId 
		  , A.repr_yn 		as reprYn 
		from TB_TEACHER A
		inner join TB_COMP B on A.comp_no = B.comp_no 
		where A.teacher_id = #{teacherId}
		and A.pwd = #{pwd}
	</select>
	
	<!-- 오더 리스트 가져오기 -->
	<select id="getOrderList" resultType="com.saju.box.model.OrderDto">
		/*com.saju.box.adminMapper.getOrderList*/
		select 
			order_no
		  , comp_no
		  , order_dt
		  , order_gubun 
		  , order_gender 
		  , order_name 
		  , order_year 
		  , order_month
		  , order_day 
		  , order_hour 
		  , order_min
		  , reg_dtm 
		from TB_SAJU_ORDER so
		where so.comp_no = #{compNo}
		order by reg_dtm desc
	</select>
	
	<!-- 오더디테일 조회 -->
	<select id="getOrderDetail" resultType="com.saju.box.model.OrderDto">
		/*com.saju.box.adminMapper.getOrderDetail*/
		select 
			order_no 
		  , comp_no
		  , order_dt 
		  , order_gender 
		  , order_name 
		  , order_luna_yn 
		  , order_year 
		  , order_month 
		  , order_day 
		  , order_hour 
		  , order_min 
		  , order_amt 
		  , naming_yn 
		  , naming_amt 
		  , remark 
		  , complete_yn 
		  , reg_dtm
		from TB_SAJU_ORDER tso
		where order_no = #{orderNo}
	</select>

</mapper>