<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saju.box.companyInfoMapper">
	
	<select id="getCompanyInfo" resultType="com.saju.box.model.companyInfoDto">
		select comp_no as compNo
			, comp_name  as compName
		from TB_COMP			
	</select>
</mapper>